//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-3
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Tue 09 12 18:26:28 2023

IO_LOC "HS_DATA0_TX_p" G16,H15;
IO_PORT "HS_DATA0_TX_p" PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=2.5;

IO_LOC "HS_DATA1_TX_p" J15,K16;
IO_PORT "HS_DATA1_TX_p" PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=2.5;

IO_LOC "HS_CLK_TX_p" H14,H16;
IO_PORT "HS_CLK_TX_p" PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=2.5;

IO_LOC "LP_DATA0_TX[0]" A15;
IO_PORT "LP_DATA0_TX[0]" IO_TYPE=LVCMOS12 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.2;

IO_LOC "LP_DATA0_TX[1]" B14;
IO_PORT "LP_DATA0_TX[1]" IO_TYPE=LVCMOS12 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.2;

IO_LOC "LP_DATA1_TX[0]" B12;
IO_PORT "LP_DATA1_TX[0]" IO_TYPE=LVCMOS12 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.2;

IO_LOC "LP_DATA1_TX[1]" C12;
IO_PORT "LP_DATA1_TX[1]" IO_TYPE=LVCMOS12 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.2;

IO_LOC "LP_CLK_TX[0]" B13;
IO_PORT "LP_CLK_TX[0]" IO_TYPE=LVCMOS12 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.2;

IO_LOC "LP_CLK_TX[1]" A14;
IO_PORT "LP_CLK_TX[1]" IO_TYPE=LVCMOS12 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.2;

IO_LOC "led[2]" T10;
IO_PORT "led[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[1]" T7;
IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[0]" R8;
IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "gpio_in[0]" B10;
IO_LOC "gpio_in[1]" A13;
IO_LOC "gpio_out" T15;
IO_PORT "gpio_in[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "gpio_in[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "gpio_out" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;


IO_LOC "camera_en" T13;
IO_PORT "camera_en" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "clk" H11;
IO_PORT "clk" IO_TYPE=LVCMOS25 PULL_MODE=UP BANK_VCCIO=2.5;
