//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-3
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Tue 09 12 18:26:28 2023

IO_LOC "HS_DATA0_TX_p" G16,H15;
IO_PORT "HS_DATA0_TX_p" PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=2.5;

IO_LOC "HS_DATA1_TX_p" J15,K16;
IO_PORT "HS_DATA1_TX_p" PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=2.5;

IO_LOC "HS_CLK_TX_p" H14,H16;
IO_PORT "HS_CLK_TX_p" PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=2.5;

IO_LOC "LP_DATA0_TX[0]" A15;
IO_PORT "LP_DATA0_TX[0]" IO_TYPE=LVCMOS12 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.2;

IO_LOC "LP_DATA0_TX[1]" B14;
IO_PORT "LP_DATA0_TX[1]" IO_TYPE=LVCMOS12 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.2;

IO_LOC "LP_DATA1_TX[0]" B12;
IO_PORT "LP_DATA1_TX[0]" IO_TYPE=LVCMOS12 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.2;

IO_LOC "LP_DATA1_TX[1]" C12;
IO_PORT "LP_DATA1_TX[1]" IO_TYPE=LVCMOS12 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.2;

IO_LOC "LP_CLK_TX[0]" B13;
IO_PORT "LP_CLK_TX[0]" IO_TYPE=LVCMOS12 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.2;

IO_LOC "LP_CLK_TX[1]" A14;
IO_PORT "LP_CLK_TX[1]" IO_TYPE=LVCMOS12 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.2;

IO_LOC "led[2]" T10;
IO_PORT "led[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[1]" T7;
IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[0]" R8;
IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "gpio_in[0]" B10;
IO_LOC "gpio_in[1]" A13;
IO_LOC "gpio_out" T15;
IO_PORT "gpio_in[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "gpio_in[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "gpio_out" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;


IO_LOC "camera_en" T13;
IO_PORT "camera_en" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "clk" H11;
IO_PORT "clk" IO_TYPE=LVCMOS25 PULL_MODE=UP BANK_VCCIO=2.5;

//====================Cameras==================

IO_LOC "cam_clk_1" P11;
IO_PORT "cam_clk_1" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "cam_clk_2" N9;
IO_PORT "cam_clk_2" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "cam_1_db[0]" R12;       //cmos data
IO_LOC "cam_1_db[1]" R13;       //cmos data
IO_LOC "cam_1_db[2]" T14;       //cmos data
IO_LOC "cam_1_db[3]" P13;       //cmos data
IO_LOC "cam_1_db[4]" T12;       //cmos data
IO_LOC "cam_1_db[5]" T11;       //cmos data
IO_LOC "cam_1_db[6]" P9;        //cmos data
IO_LOC "cam_1_db[7]" T9;        //cmos data
IO_LOC "cam_1_vsync" T8;        //cmos vsync
IO_LOC "cam_1_href"  P8;        //cmos hsync refrence,data valid
IO_LOC "cam_1_pclk"  R11;       //cmos pixel clock

IO_PORT "cam_1_db[0]" IO_TYPE=LVCMOS33;
IO_PORT "cam_1_db[1]" IO_TYPE=LVCMOS33;
IO_PORT "cam_1_db[2]" IO_TYPE=LVCMOS33;
IO_PORT "cam_1_db[3]" IO_TYPE=LVCMOS33;
IO_PORT "cam_1_db[4]" IO_TYPE=LVCMOS33;
IO_PORT "cam_1_db[5]" IO_TYPE=LVCMOS33;
IO_PORT "cam_1_db[6]" IO_TYPE=LVCMOS33;
IO_PORT "cam_1_db[7]" IO_TYPE=LVCMOS33;
IO_PORT "cam_1_vsync" IO_TYPE=LVCMOS33;
IO_PORT "cam_1_href" IO_TYPE=LVCMOS33;
IO_PORT "cam_1_pclk" IO_TYPE=LVCMOS33;

IO_LOC "cam_2_db[0]" R7;       //cmos data
IO_LOC "cam_2_db[1]" M6;       //cmos data
IO_LOC "cam_2_db[2]" L8;       //cmos data
IO_LOC "cam_2_db[3]" P7;       //cmos data
IO_LOC "cam_2_db[4]" L9;       //cmos data
IO_LOC "cam_2_db[5]" R9;       //cmos data
IO_LOC "cam_2_db[6]" N7;       //cmos data
IO_LOC "cam_2_db[7]" N6;       //cmos data
IO_LOC "cam_2_vsync" C10;      //cmos vsync
IO_LOC "cam_2_href"  C13;       //cmos hsync refrence,data valid
IO_LOC "cam_2_pclk"   N8;       //cmos pixel clock

IO_PORT "cam_2_db[0]" IO_TYPE=LVCMOS33;
IO_PORT "cam_2_db[1]" IO_TYPE=LVCMOS33;
IO_PORT "cam_2_db[2]" IO_TYPE=LVCMOS33;
IO_PORT "cam_2_db[3]" IO_TYPE=LVCMOS33;
IO_PORT "cam_2_db[4]" IO_TYPE=LVCMOS33;
IO_PORT "cam_2_db[5]" IO_TYPE=LVCMOS33;
IO_PORT "cam_2_db[6]" IO_TYPE=LVCMOS33;
IO_PORT "cam_2_db[7]" IO_TYPE=LVCMOS33;
IO_PORT "cam_2_vsync" IO_TYPE=LVCMOS33;
IO_PORT "cam_2_href" IO_TYPE=LVCMOS33;
IO_PORT "cam_2_pclk" IO_TYPE=LVCMOS33;

IO_LOC "cmos_2_scl" F14;
IO_LOC "cmos_2_sda" F16;
IO_PORT "cmos_2_scl" IO_TYPE=LVCMOS25;
IO_PORT "cmos_2_sda" IO_TYPE=LVCMOS25;
//====================DDR3==================

IO_LOC "ddr_bank[2]" H5;
IO_PORT "ddr_bank[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_bank[1]" D3;
IO_PORT "ddr_bank[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_bank[0]" H4;
IO_PORT "ddr_bank[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[13]" C8;
IO_PORT "ddr_addr[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[12]" A3;
IO_PORT "ddr_addr[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[11]" B7;
IO_PORT "ddr_addr[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[10]" K3;
IO_PORT "ddr_addr[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[9]" F9;
IO_PORT "ddr_addr[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[8]" A5;
IO_PORT "ddr_addr[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[7]" D8;
IO_PORT "ddr_addr[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[6]" B1;
IO_PORT "ddr_addr[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[5]" E6;
IO_PORT "ddr_addr[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[4]" C4;
IO_PORT "ddr_addr[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[3]" F8;
IO_PORT "ddr_addr[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[2]" D6;
IO_PORT "ddr_addr[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[1]" A4;
IO_PORT "ddr_addr[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[0]" F7;
IO_PORT "ddr_addr[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_odt" R3;
IO_PORT "ddr_odt" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_cke" J2;
IO_PORT "ddr_cke" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_we" L2;
IO_PORT "ddr_we" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_cas" R6;
IO_PORT "ddr_cas" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_ras" R4;
IO_PORT "ddr_ras" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_reset_n" B9;
IO_PORT "ddr_reset_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_ck" J1,J3;
IO_PORT "ddr_ck" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dm[1]" K5;
IO_PORT "ddr_dm[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dm[0]" G1;
IO_PORT "ddr_dm[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[15]" M2;
IO_PORT "ddr_dq[15]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[14]" R1;
IO_PORT "ddr_dq[14]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[13]" H3;
IO_PORT "ddr_dq[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[12]" P4;
IO_PORT "ddr_dq[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[11]" L1;
IO_PORT "ddr_dq[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[10]" N2;
IO_PORT "ddr_dq[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[9]" K4;
IO_PORT "ddr_dq[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[8]" M3;
IO_PORT "ddr_dq[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[7]" B3;
IO_PORT "ddr_dq[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[6]" E1;
IO_PORT "ddr_dq[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[5]" C1;
IO_PORT "ddr_dq[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[4]" E2;
IO_PORT "ddr_dq[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[3]" F3;
IO_PORT "ddr_dq[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[2]" F4;
IO_PORT "ddr_dq[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[1]" F5;
IO_PORT "ddr_dq[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[0]" G5;
IO_PORT "ddr_dq[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dqs[1]" J5,K6;
IO_PORT "ddr_dqs[1]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dqs[0]" G2,G3;
IO_PORT "ddr_dqs[0]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_cs" P5;
IO_PORT "ddr_cs" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;